// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "type-scale.scss";
// Components
@import "masthead.scss";
@import "showcase.scss";
@import "icons.scss";
@import "testimonials.scss";
@import "call-to-action.scss";
@import "footer.scss";

.navbar {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footnotes-list {
  overflow: hidden;
}
.footnote-item a {
  text-overflow: ellipsis;
  display: inline;
  overflow: hidden;
}

main, h1, h2, h3, h4, h5, a {
  scroll-margin-top: 15wrem;
}

img {
  max-width: 100%;
}
article h1, 
article h2, 
article h3, 
article h4, 
article h5 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.cost { border-bottom: 3px solid #ff7f7f91; }
.profit { border-bottom: 3px solid #75ff7591; }

html body {
  background: #fff;
}
.tweets {
  background: white;
  box-shadow: 0px 5px 10px rgba(18, 9, 65, 0.05);
}