<div class="container">
  <div class="text-center">
    <h1 class="title">Why Decent?</h1>
    <h3 class="">Here you can find some Decent benefits:</h3>
  </div>
  <div class="row mt-5 text-left">
    <div id="carouselExampleCaptions" class="carousel slide w-100" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner mx-auto" style="width: 80%;height: 520px;">
        <div class="carousel-item active" style="position: relative;">
          <img src="https://images.unsplash.com/photo-1523934882174-f3ebf13fa331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="d-block w-100" alt="...">
          <div class="carousel-caption" style="position: absolute;width: 315px;height: 350px;left: 3em;top: 3em;background: white;color: #333;padding: 1em;text-align: left;">
            <h2>It’s Ethical</h2>
            <p>
              We don't track your online behaviours, we won’t show you ads or promoted tweets.
              <br>
              <br>
              <b>We’ll respect you and your freedom.</b>
            </p>
          </div>
        </div>
        <div class="carousel-item" style="position: relative;">
          <img src="https://images.unsplash.com/photo-1595666944516-bbb485958fb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="d-block w-100" alt="...">
          <div class="carousel-caption" style="position: absolute;width: 315px;height: 350px;left: 3em;top: 3em;background: white;color: #333;padding: 1em;text-align: left;">
            <h2>It’s Privacy-first</h2>
            <p>
              We are using <b><a target="_blank" href="https://nitter.decent.social/">Nitter</a></b> behind the scenes.
              <br>
              <b class="">No Twitter account required.</b>
              <br>
              <b class="">No collection of personal data.</b>
              <br>
              <br>
              <b>We care about you, not your personal data.</b>
            </p>
          </div>
        </div>
        <div class="carousel-item" style="position: relative;">
          <img src="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="...">
          <div class="carousel-caption" style="position: absolute;width: 315px;height: 350px;left: 3em;top: 3em;background: white;color: #333;padding: 1em;text-align: left;">
            <h2>It’s Lightweight & clean</h2>
            <p>
              Fast and <b class="">distraction-free</b> Twitter experience
              <br>
              <b class="">10x smaller script</b>
              <br>
              <b class="">Mobile First, optimized for the Web</b>
            </p>
          </div>
        </div>
        <div class="carousel-item" style="position: relative;">
          <img src="https://images.unsplash.com/photo-1497334426377-e0794ccee290?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="d-block w-100" alt="...">
          <div class="carousel-caption" style="position: absolute;width: 315px;height: 350px;left: 3em;top: 3em;background: white;color: #333;padding: 1em;text-align: left;">
            <h2>It’s Open-Source</h2>
            <p>
              Yes! Decent is <b class="">open-source on GitHub</b>
              <br>
              You can opt for <b class="">self-hosting</b> Decent
              <br>
              <br>
              <b>You are free to contribute!</b>
            </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
