<div class="container1 my-5">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-0">
      <h3 class="mt-0 mb-0">Decent is an ad-free, privacy-first Twitter reading experience</h3>
      <h4 class="mt-3 "><b>Join <b>19</b> others in the waiting list!</h4>
      <form 
        action="https://buttondown.email/api/emails/embed-subscribe/decentsocial"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/decentsocial', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <div class="form-row">
          <div class="col-sm-9">
            <input type="email" name="email" id="bd-email" class="form-control form-control-lg" placeholder="Your email"></input>
          </div>
          <div class="col-sm-3">
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="Get free early access" class="btn btn-block btn-lg btn-primary"></input>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
