<div class="container1 my-5">
  <div class="row p-3" style="background-color: #0162FF; overflow: hidden">
    <div class="col-lg-12 mx-auto mt-0">
      <h5 class="title font-weight-bold text-white text-center1 mt-0 mb-0">Decent is an ad-free, privacy-first Twitter reading experience</h5>
      <p class="lead1 text-white text-center1 mt-3 "><b>Join <b>{{collections.subscribers}}</b> others in the waiting list!</p>
      <form 
        action="https://buttondown.email/api/emails/embed-subscribe/decentsocial"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/decentsocial', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <div class="form-row row">
          <div class="col-md-8">
            <input type="email" name="email" id="bd-email" class="form-control" placeholder="Your email"></input>
          </div>
          <div class="col-md-4">
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="Get free early access" class="btn btn-md btn-warning"></input>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
