<div class="container1">
  <div class="row mt-5 mb-5">
    <div class="col-lg-9 mx-auto">
      <h1 class="display-4">Launching in October 2020</h1>
      <h2 class=""><b>Join <b>22</b> others in the waiting list!</h2>
      <form 
        action="https://buttondown.email/api/emails/embed-subscribe/decentsocial"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/decentsocial', 'popupwindow')"
        class="mt-5 embeddable-buttondown-form"
      >
        <div class="form-row">
          <div class="col-lg-8 mb-2">
            <input type="email" name="email" id="bd-email" class="form-control form-control-lg" placeholder="Your email"></input>
          </div>
          <div class="col-lg-4">
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="Get free early access" class="btn btn-block btn-lg btn-primary"></input>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
