<form class="demo">
  <div class="form-group row">
    <label for="username" class="col-sm-3 col-form-label"><b>Try it out</b></label>
    <div class="col-sm-9">
      <input type="text" class="form-control" autocomplete="false" id="username" placeholder="Enter your Twitter handle">
    </div>
  </div>
</form>
<div class="tw demo-timeline" style="max-height: 520px; max-width: 100%; margin: 0 auto; overflow-y: scroll;">
  <ul class="list-group list-group-flush ">
    <a target="_blank" href="https://nitter.decent.social/MKBHD/status/1309289476087312384" class="list-group-item list-group-item-action bg-white">
      <div class="d-flex w-100 py-3 justify-content-between">
        <div>
          <h5 class="mt-0">
            <div style="display: inline-block; border-radius: 50%; height: 2em; width: 2em; vertical-align: middle; background-image: url(https://nitter.decent.social/pic/profile_images%2F1212149592403382281%2FcI0-xyss_normal.jpg)"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;@mkbhd
          </h5>
        </div>
        <small class="text-muted">Sep 25</small>
      </div>
      <p class="mb-1 text-left py-2">Uploading…</p>
    </a>
    <a target="_blank" href="https://nitter.decent.social/ProfFeynman/status/1307165832921849857" class="list-group-item list-group-item-action bg-white">
      <div class="d-flex w-100 py-3 justify-content-between">
        <h5 class="mt-0">
          <div style="display: inline-block; border-radius: 50%; height: 2em; width: 2em; vertical-align: middle; background-image: url(https://nitter.decent.social/pic/profile_images%2F1260284660120080384%2FFnKkVEK0_normal.jpg)"></div>
          &nbsp;&nbsp;&nbsp;&nbsp;@ProfFeynman
        </h5>
        <small class="text-muted">Sep 19</small>
      </div>
      <p class="mb-1 text-left py-2">If the number 666 is considered evil, then technically, 25.8069758 is the root of all evil.</p>
    </a>
    <a target="_blank" href="https://nitter.decent.social/LBRYcom/status/1306571235690795010" class="list-group-item list-group-item-action bg-white">
      <div class="d-flex w-100 py-3 justify-content-between">
        <h5 class="mt-0">
          <div style="display: inline-block; border-radius: 50%; height: 2em; width: 2em; vertical-align: middle; background-image: url(https://nitter.decent.social/pic/profile_images%2F1277700765549596673%2Fm4dZAv-7_normal.jpg)"></div>
          &nbsp;&nbsp;&nbsp;&nbsp;@LBRYcom
        </h5>
        <small class="text-muted">Sep 17</small>
      </div>
      <p class="mb-1 text-left py-2">Serfs use YouTube<br>Lords and ladies use LBRY
      </p>
    </a>
    <a target="_blank" href="https://nitter.decent.social/elonmusk/status/1289997160763670530#m" class="list-group-item list-group-item-action bg-white">
      <div class="d-flex w-100 py-3 justify-content-between">
        <h5 class="mt-0">
          <div style="display: inline-block; border-radius: 50%; height: 2em; width: 2em; vertical-align: middle; background-image: url(https://nitter.decent.social/pic/profile_images%2F1295975423654977537%2FdHw9JcrK_normal.jpg)"></div>
          &nbsp;&nbsp;&nbsp;&nbsp;@elonmusk
        </h5>
        <small class="text-muted">Aug 2</small>
      </div>
      <p class="mb-1 text-left py-2">Dragon is stable in the water</p>
    </a>
    <a target="_blank" href="https://nitter.decent.social/lexfridman/status/1286753602418159618#m" class="list-group-item list-group-item-action bg-white">
      <div class="d-flex w-100 py-3 justify-content-between">
        <h5 class="mt-0">
          <div style="display: inline-block; border-radius: 50%; height: 2em; width: 2em; vertical-align: middle; background-image: url(https://nitter.decent.social/pic/profile_images%2F956331551435960322%2FOaqR8pAB_normal.jpg)"></div>
          &nbsp;&nbsp;&nbsp;&nbsp;@lexfridman
        </h5>
        <small class="text-muted">Jul 24</small>
      </div>
      <p class="mb-1 text-left py-2">Both Elon Musk and UFOs are trending. Coincidence?</p>
    </a>
  </ul>
</div>
