<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-lg-12 mx-auto">
      <h1 class="title">Frequently asked questions</h1>
      <div class="accordion border-0" id="accordionExample">
        <div class="row">
          <div class="card border-0 col-md-6">
            <div class="card-header bg-white" id="headingOne">
              <h2 class="my-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What's wrong with Twitter? <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Twitter's business model is based on <b>advertisement and targeting</b>, by collecting your <b>personal information, behaviour and preferences</b>.
                <br>
                This information is used to present you the timeline mixed with <b>promoted tweets and advertisement</b>.
                <br>
                That's how Twitter can be "free", but you shouldn't fall for it.
              </div>
            </div>
          </div>
          <div class="card border-0 col-md-6">
            <div class="card-header bg-white" id="headingTwo">
              <h2 class="my-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Why is Decent not free like Twitter? <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                You pay for reading your Decent timeline knowing you're not being tracked, profiled and presented with "tweets you might like".
                <br>
                With Decent <b>you are using a service</b>, <b>not being used by it</b>.
                <br>
                No information at all is collected and you're not being targeted or manipulated.
                <br>
                <b>Decent doesn't show ads or sells your information, that's why we need to ask a small fee.</b>
              </div>
            </div>
          </div>
          <div class="card border-0 col-md-6">
            <div class="card-header bg-white" id="headingThree">
              <h2 class="my-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  I would like self-host Decent, can I? <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Yes! Decent's idea is to be fully transparent and open-source, thus you can <a href="https://github.com/decentsocial" target="_blank">check out the code on GitHub</a> and decide to host it on your own.
                <br>
                You'll have to install, host and manage Decent yourself on your own server or PC.
              </div>
            </div>
          </div>
          <div class="card border-0 col-md-6">
            <div class="card-header bg-white" id="headingFour">
              <h2 class="my-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Why is my privacy important when browsing Twitter? <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                Privacy is a vast term and refers to many small but important information collected and misused without our consent.
                <br>
                This is why protecting yourself from fingerprinting, analysis and "optimization" based on your past behaviour.
                <br>
                Think of "Promoted Tweets" or simply advertisement you see on your Twitter timeline.
                <br>
                Recently I stumbled upon this paper about “I've Got Nothing to Hide” and Other Misunderstandings of Privacy by Daniel J. Solove
                <br>
                Read it yourself or check out the <a href="/blog/2020-10-02-Notes-on-I-have-got-nothing-to-hide/">Notes about “I've Got Nothing to Hide”</a>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
