<footer class="footer bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-group list-group-flush mb-2">
          <li class="list-group-item">
            <a href="/blog/">Blog</a>
          </li>
          <li class="list-group-item">
            <a href="/blog/2020-10-02-Notes-on-I-have-got-nothing-to-hide/">Notes on “I've got nothing to hide”</a>
          </li>
          <li class="list-group-item">
            <a href="/cli/">Command Line Interface</a>
          </li>
          <li class="list-group-item">
            <a href="/#faq">Frequently asked questions</a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="https://github.com/decentsocial">Open-source software</a>
          </li>
          <li class="list-group-item">
            <a href="/privacy/">Privacy</a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="https://plausible.io/decent.social">Analytics</a></a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="https://www.indiehackers.com/product/decent-social">Progress on IndieHackers.com</a></a>
          </li>
          <li class="list-group-item">
            <p class="text-muted small mb-4 mb-lg-0">&copy; decent.social 2020. All Rights Reserved.</p>
            <p class="text-muted small mb-4 mb-lg-0">Illustrations from <a href="https://undraw.co/" target="_blank">undraw.co</a></p>
          </li>
        </ul>
      </div>
      <!--    
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://twitter.com/decentsocial">
                Follow @decentsocial
              </a>
            </li>
        </ul>
      </div>
      -->
    </div>
  </div>
</footer>
