<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'meta.html' %}
  <link rel="shortcut icon" type="image/png" href="https://decent.social/img/favicon.png"/>
  <link rel="apple-touch-icon" href="https://decent.social/img/favicon.png">

  <link rel="manifest" href="/manifest.json">

  <title>{{ title or 'A Privacy-friendly, Decent Twitter Client' }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/css/landing-page.min.css" rel="stylesheet">
  <!--
  <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></noscript>
  -->
  {# <link rel="preload" href="/css/landing-page.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
  {# <noscript><link rel="stylesheet" href="/css/landing-page.min.css"></noscript> #}

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&display=swap" rel="stylesheet" type="text/css">
  <script async defer data-domain="decent.social" src="https://p.decent.social/js/index.js"></script>
</head>
<body>
  {% include 'nav.html' %}

  <main class="mt-5 py-5">
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script async defer src="/js/main.js"></script>
</body>

</html>


