<div class="container">
  <div class="mx-auto mt-5 mb-5 text-left">
    <h1 class=" masthead-heading">Your privacy-friendly <span style="display: inline-block">Twitter Reader</span></h1>
    <h4 class=" my-5">Decent is an ad-free, privacy-first Twitter reading experience</h4>
    <h4 class="my-5">Tired of ads, suggestions, promoted tweets?</h4>
    <div class="row">
      <div class="col-lg-8">
        <div class="my-5">
          <p class="lead my-5">
            <a class="btn btn-primary btn-lg track-join-now" href="#cta">Get free early access</a>
          </p>
          <br>
          <h4 class="my-5">Stop Twitter from profiling you</h4>
          <p class="big my-5">
            It's <b>your Twitter timeline</b> after all
          </p>
          <p class="big my-5">
            Enjoy a <b>decent Twitter reading experience</b>
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-5 mb-2 text-center d-sm-none1 d-lg-block">
        <h2 class="title">A preview of Decent</h2>
        {% include 'tweets.html' %}
      </div>
    </div>
  </div>
</div>
