<div class="container">
  <div class="mx-auto my-5 text-left">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-5 title masthead-heading1">Your privacy-friendly <span style="display: inline-block"><span style="color: rgb(29, 141, 237)">Twitter</span> Reader</span></h1>
        <p class="big mt-4">
          Decent is an ad-free, privacy-first Twitter reading experience. Tired of ads, suggestions, promoted tweets?
        </p>
        <div>
          <p class="big mt-4">
            Stop Twitter from profiling you. It's <b>your Twitter timeline</b> after all&nbsp;😉
          </p>
          <p class="big mt-4">
            Enjoy a <b>decent Twitter reading experience</b>
          </p>
          <a class="mt-4 btn btn-primary font-weight-bold" href="/#cta">Get free early access</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mt-5 mb-2 text-center d-sm-none1 d-lg-block">
          {% include 'demo.html' %}
          <small class="text-muted text-left">Decent's preview</small>
        </div>
      </div>
    </div>
  </div>
</div>
