<nav class="navbar navbar-white navbar-expand-md bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand text-dark font-weight-bold" href="/" style="font-size: 2rem;">
      <img class="" src="/img/decent.black.svg" alt="" style="height: 5rem; margin-right: 0.5em;">
      Decent
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      More
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/cli/">CLI</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/open-source/">Open-Source</a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-item btn font-weight-bold" href="https://nitter.decent.social">Public Nitter</a>
        </li>
      </div>
    </div>
  </div>
</nav>