<nav class="navbar navbar-white navbar-expand-md bg-white sticky-top" style="padding-top: 0.5em;padding-bottom: 0.5em;">
  <div class="container">
    <a class="navbar-brand text-dark font-weight-bold" href="/" style="font-size: 2.1rem;">
      <img class="" src="/img/decent.black.svg" alt="" style="height: 5rem; margin-right: 0.5em;">
      Decent
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-justify-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav px-3 mx-auto">
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/cli/">CLI</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn font-weight-bold" href="/open-source/">Open-Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-item btn btn-primary font-weight-bold" href="/#cta">Get free early access</a>
        </li>
      </div>
    </div>
  </div>
</nav>